.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-container h3{
    font-size: 28px;
    color: #005A8D;
    font-weight: 600;
}
.right-side{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu-icon-container{
    display: none;
}


@media  screen and (max-width:600px) {
    .menu-icon-container{
        display: block;
    }
}